<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,362},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,362},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,812},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,686},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,560},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,434},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,308},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,272},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,272},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,272},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,272},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,272},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,812},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,686},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,560},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,434},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,308},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,848},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,722},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,596},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,470},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,344},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,218},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>card_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca57ba6848db9930558064399bf24524:1/1$</string>
            <key>textureFileName</key>
            <string>game_cards.png</string>
        </dict>
    </dict>
</plist>
